@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <button id="buttonAlter">Berechne das Alter</button>
        <label for="datumsEingabe">Eingabe</label>
        <input type="date" id="datumsEingabe">
        <p id="ergebnis"></p>
    </div>
